{% extends 'sites/base.html' %}

{% block menu %}
{% endblock %}



{% block content %}

<style>
	.center_menu{
	text-align : left;
	}
</style>

        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-11">
						<div class="service-wrapper">
							{% if request.user.is_authenticated %}
								<form method="post">
									{% csrf_token %}
									{{ form.title }}<br>
									{{ form.phone }}<br>
									{{ form.job }}<br>
									{{ form.mail }}<br>
									{{ form.photo }}<br>
									<button type="submit">Отправить</button>
									<span>{{ error }}</span>
								</form>

							{% else %}
								<h3>Необходимо зерегистрироваться</h3>
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		</div>

{% endblock %}