<{% extends 'sites/base.html' %}
{% load get_group %}

{% block menu %}
{% endblock %}

{% block content %}
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							<h3>Правила для 1с</h3>
							{% if request.user.is_authenticated %}
							<a href="{% url 'sites:open_1c' %}" class="btn">Открыть</a><br> <br>
							<a href="{% url 'sites:close_1c' %}" class="btn">Закрыть </a><br> <br>
							{% endif %}
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							{% if request.user|has_group:"admin" %}
                            Видна пользователю с группой Client
							<h3>Правила Микротика // сделать только almin</h3>
							<a href="{% url 'sites:open_mik' %}" class="btn">Открыть снаружи</a><br> <br>
							<a href="{% url 'sites:close_mik' %}" class="btn">Закрыть снаружи</a><br> <br>
							{% endif %}
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="service-wrapper">
							<h3>Остальное // сделать только almin</h3>
							<a href="#" class="btn">Открыть к ПК бекап</a><br> <br>
							<a href="#" class="btn">Закрыть ПК бекап</a><br> <br>
							<a href="#" class="btn">Открыть основной хост</a><br> <br>
							<a href="#" class="btn">Закрыть основной хост</a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}